<div class="barra-lateral col-12 col-sm-auto">
	<div class="logo">
		<h2 class="logo-no-responsive">Dashboard</h2>
		<h2 class="logo-responsive">D</h2>
	</div>
	<nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
		<a routerLink="/home"><i class="fas fa-home"></i><span>Inicio</span></a>
		<a routerLink="/productos"><i class="fas fa-barcode"></i><span>Productos</span></a>
		<a routerLink="/marcas"><i class="fas fa-check-circle"></i><span>Marcas</span></a>
		<a routerLink="/proveedores"><i class="fas fa-truck"></i><span>Proveedores</span></a>
		<a routerLink="/categorias"><i class="fas fa-shapes"></i><span>Categorías</span></a>
	</nav>
</div>
