/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
	margin: 0;
	background-color: #F2F2F2;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

i {
	margin-right: 10px;
}

hr {
	margin: 0 0 10px 0;
}

h2 {
	display: inline-block;
	margin: 10px 0;
}

/* Botones */
.boton {
	margin: 0;
	padding: 5px;
	text-align: center;
	border: 1px solid #000;
	color: #FFF;
	border-radius: 3px;
}

.boton-agregar {
	background-color: #006FC8;
}

.boton-agregar:hover {
	background-color: #0985E9;
}

.boton-editar {
	background-color: #FBA128;
}

.boton-editar:hover {
	background-color: #F89817;
}

.boton-eliminar {
	background-color: #DC1616;
}

.boton-eliminar:hover {
	background-color: #EE1616;
}

.boton i {
	padding-left: 10px;
}

/* Contenido central */
.contenido {
    padding: 0;
    min-width: 0;
}

/* Titulo */
.titulo {
	min-height: 76px;
	max-height: 76px;
	background-color: #262A34;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #FFF;
}

/* Navbar */
.navbar {
	padding: 0;
}

/* Barra Lateral */
.barra-lateral {
	background-color: #262A34;
	color: #FFF;
	min-width: 300px;
	min-height: 100vh;
	height: 100%;
	padding: 0;
}

.barra-lateral a {
	color: #FFF;
}

/* Logo */
.logo {
	background-color: #0275DB;
	min-width: 300px;
	color: #FFF;
	margin: 0;
	text-align: center;
}

.logo h2 {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	padding: 20px 0;
	font-weight: 300;
	margin: 0;
}

.logo-responsive {
	display: none;
}

/* Menú */
.barra-lateral .menu a {
	display: block;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
	background-color: #35AE6B;
	text-decoration: none;
}

/* Tablas */
table {
	width: 100%;
	text-align: center;
}

input[type="search"] {
	border: 0;
	border-bottom: 1px solid #0275DB;
	background-color: #F2F2F2;
	outline: 0px;
}

.dataTables_wrapper {
	margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_info {
	padding-top: 0px !important;
	color: #0275DB;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #0275DB !important;
}

.table-responsive {
    display: table;
}


/** MediaQueries **/
@media (max-width: 992px){
	.barra-lateral,
	.logo {
		min-width: 70px;
		width: 70px;
	}

	.barra-lateral a {
		text-align: center;
	}

	.barra-lateral a i {
		margin: 0;
		padding: 0;
	}

	.barra-lateral a span {
		display: none;
	}

	.logo-no-responsive {
		display: none;
	}

	.logo-responsive {
		display: inline-block;
	}
}

@media (max-width: 575px){
	.logo {
		display: none;
	}

	.titulo {
		border-bottom: 1px solid rgba(255, 255, 255, .1);
	}

	.navbar {
		display: none;
	}

	.barra-lateral {
		display: block;
		width: 100%;
		min-height: 0;
		height: 64px;
	}

}